<footer class="bg-gray-900 text-white">
  <div class="max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a href="/" class="flex items-center mb-4 sm:mb-0">
        <img src="assets/logo.png" class="h-8 mr-3" alt="Logo" />
        <span class=" text-red-700 self-center text-2xl font-semibold whitespace-nowrap">REDAFLIX</span>
      </a>
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0">
        <li><a href="#" class="hover:underline me-4">À propos</a></li>
        <li><a href="#" class="hover:underline me-4">Politique</a></li>
        <li><a href="#" class="hover:underline me-4">Licences</a></li>
        <li><a href="#" class="hover:underline">Contact</a></li>
      </ul>
    </div>
    <hr class="my-6 border-gray-700 sm:mx-auto lg:my-8" />
    <span class="block text-sm text-gray-400 sm:text-center">
      © 2025 <a href="/" class="hover:underline">REDAFLIX™</a>. Tous droits réservés.
    </span>
  </div>
</footer>