<div class="container">

  <h1>Recherche de films</h1>

  <!-- Barre de recherche -->
  <form (submit)="search(); $event.preventDefault()">
    <input type="text" [(ngModel)]="searchTerm" name="search" placeholder="Chercher un film..." />
    <button type="submit">Rechercher</button>
  </form>

  <!-- Affichage des erreurs -->
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <!-- Section Résultats de Recherche -->
  <div class="section" *ngIf="results.length > 0">
    <h2 class="section-title">Résultats de votre recherche</h2>
    <div class="results">
      <div class="movie-card" *ngFor="let movie of results" (click)="goToMovieDetail(movie.id)"
        style="cursor: pointer;">
        <img [src]="movie.poster" [alt]="movie.name">
        <div class="movie-info">
          <h2>{{ movie.name }}</h2>
          <p>Année de sortie : {{ movie.year }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Affichage des films populaires -->
  <h2 *ngIf="popularMovies.length > 0" style=" margin-top: 2rem;">Films Populaires</h2>

  <div class="carousel-container" *ngIf="popularMovies.length > 0">
    <div class="carousel" #carousel>
      <div class="card" *ngFor="let movie of popularMovies " (click)="goToMovieDetail(movie.id)">
        <img [src]="movie.poster" [alt]="movie.name" />
        <h2>{{ movie.name }} ({{ movie.year }})</h2>
        <a [href]="movie.url" target="_blank">Voir sur IMDb</a>
      </div>
    </div>
  </div>

  <!-- Contrôles du carrousel -->
  <!-- <button class="prev" (click)="moveCarousel(-1)">&#10094;</button>
  <button class="next" (click)="moveCarousel(1)">&#10095;</button> -->

</div>